:root {
  --primario: #D6A2E8;
  --primarioOscuro: #6D214F;
  --secundario: #B33771;
  --secundarioOscuro: #82589F;
  --blanco: #fff;
  --negro: #000;

  --fuentePrincipal: "Staatliches", cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* -----------------------------------GLOBALES */

body {
  font-size: 1.6rem;
  background: #FF0099;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #493240, #FF0099);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #493240, #FF0099);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  line-height: 1.5;
  margin: 0 1rem;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--blanco);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* -------------------HEADER */

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
  height: 10rem;
}

/* ---------------------FOOTER */
.footer {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__texto {
  text-align: center;
  font-family: var(--fuentePrincipal);
  font-size: 2.2rem;
}

/* --------------------------NAVEGACION */
.navegacion {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  Separaci贸n forma nueva
}

.navegacion__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  font-size: 3rem;
  /* margin-right: 2rem; Separaci贸n forma vieja  */
}

/* .navegacion__enlace:last-of-type {
  margin-right: 0;
} Separaci贸n forma vieja */

.navegacion__enlace:hover,
.navegacion__enlace--activo {
  color: var(--secundario);
}

/* -----------------------GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ------------------PRODUCTOS */
.producto {
  background-color: var(--primarioOscuro);
  padding: 1rem;
}

.producto__imagen {
  border-radius: 5rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.producto__nombre {
  font-size: 4rem;
}

.producto__precio {
  font-size: 2.8rem;
  color: var(--secundario);
}

.producto__nombre,
.producto__precio {
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

/* -----------------GRAFICOS */

.grafico {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/3;
}

.grafico--camisas {
  grid-row: 2/3;
  background-image: url(/img/grafico1.jpg);
}

.grafico--node {
  background-image: url(/img/grafico2.jpg);
  grid-row: 8/9;
}

.grafico--node,
.grafico--camisas,
.nosotros__imagen {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

@media (min-width: 768px) {
  .grafico--node {
    grid-row: 5/6;
    grid-column: 2/4;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<< NOSOTROS */
.nosotros {
  display: grid;
}

.nosotros__imagen {
  object-fit: contain;
}

@media (min-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.nosotros__imagen {
  grid-row: 1/2;
  padding: 0 0rem;
}

@media (min-width: 768px) {
  .nosotros__imagen {
    grid-column: 2/3;
  }
}


/* --------------------------PORQUE COMPRAR CON NOSOTROS: BLOQUES*/

.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr);
  }
}

.bloque {
  text-align: center;
}

.bloque__titulo {
  margin: 0;
}

/* -------------------PAGINA DEL PRODUCTO */
.camisa {
  padding: 2rem;
}

.camisa__imagen {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  border-radius: 5rem;
}

/* Separar contenido de los bordes del dom en m贸viles*/

@media (min-width: 768px) {
  .camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.formulario {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.formulario__campo {
  border: 1rem solid var(--primarioOscuro);
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

.formulario__sumbit {
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  padding: 2rem;
  transition: background-color .3s ease;

}

.formulario__sumbit:hover {
  cursor: pointer;
  background-color: var(--secundarioOscuro);
}