/* PROPIEDADES CUSTOM */
:root {
  --fondoOscuro: #2c2c54;
  --fondoClaro: #40407a;
  --textoPri: #fff;
  --textoSec: #34ace0;
}

/* GLOBALES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--fondoOscuro);
  font-family: "Source Code Pro", monospace;
  line-height: 2;
}

body.dark {
  background-color: #000;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: var(--textoSec);
}
h1 {
  font-size: 4.8rem;
  font-weight: 700;
}
h2 {
  font-size: 4rem;
  font-weight: 400;
}
h3 {
  font-size: 3.2rem;
  font-weight: 200;
}

p {
  text-align: center;
  color: var(--textoPri);
}

a {
  text-decoration: none;
  color: var(--textoPri);
}

li {
  list-style: none;
}

img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(52, 172, 224, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(52, 172, 224, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(52, 172, 224, 0.75);
}

/* CENTRADO */
.container {
  max-width: 90%;
  margin: 0 auto;
}

/* UTILIDADES */
.texto-sec {
  color: var(--textoSec);
  font-weight: 700;
}

.boton {
  width: 75%;
  border-radius: 1rem;
  outline: none;
  border: 1px solid var(--textoSec);
  padding: 0 1rem;
  background-color: var(--fondoClaro);
  color: var(--textoPri);
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.25s;
}

.menu-btn {
  position: absolute;
  cursor: pointer;
  color: var(--textoPri);
  top: 0.1rem;
  right: 1rem;
  z-index: 2;
  font-size: 2rem;
  display: none;
  position: fixed;
}

/* CUSTOM CSS */

/* NAV */
.navegacion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(
    209deg,
    rgba(44, 44, 84, 1) 50%,
    rgba(64, 64, 122, 0.10454604204963236) 100%,
    rgba(52, 172, 224, 1) 100%
  );
}

@media (max-width: 768px) {
  .nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 10rem 3rem;
    opacity: 0.9;
    transform: translate(-20rem);
    transition: transform 0.5s ease-in-out;
  }

  .nav.show {
    transform: translateX(0rem);
  }
  .menu-btn {
    display: block;
  }
}

.nav a {
  font-weight: 700;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav ul li a:hover {
    border-bottom: 1px solid var(--textoSec);
  }
}

/* !!!!!!!!!!! SWITCH */

.switch {
  background: transparent;
  border-radius: 100rem;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch span {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: block;
  background: none;
  color: #fff;
}

.switch::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 10rem;
  transition: 0.3 ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: #ffb142;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

/* Hero */

.hero {
  background: url(/img/hero.jpg) no-repeat center center/cover;
  height: 100vh;
  padding: 20rem 1rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-bg,
.registrate {
  background: rgb(44, 44, 84);
  background: linear-gradient(
    209deg,
    rgba(44, 44, 84, 1) 0%,
    rgba(64, 64, 122, 0.10454604204963236) 50%,
    rgba(52, 172, 224, 1) 100%
  );
}

.hero-content p {
  border-bottom: 1px solid var(--textoSec);
}

/* PRODUCTOS */
.productos {
  padding: 5rem 0rem;
}
.cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 490px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  border: 1px solid var(--textoSec);
  padding: 1rem;
  border-radius: 1rem;
}

.precio-flex {
  display: flex;
  justify-content: space-around;
}

.texto-tachado {
  text-decoration: line-through;
}

.precio-oferta {
  border-bottom: double;
}
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* NOSOTROS */
.nosotros {
  padding: 5rem 1rem;
  background-color: var(--fondoClaro);
  display: grid;
  gap: 2rem;
  grid-template-columns: 0.5fr 1fr;
}

body.dark .nosotros {
  background-color: #000;
}

@media (max-width: 650px) {
  .nosotros {
    display: block;
  }
  .nosotros-content {
    flex-direction: column;
  }
}

.nosotros-img {
  object-fit: cover;
  object-position: left right;
  height: 30rem;
  border-radius: 1rem;
}

.nosotros-content {
  display: flex;
  align-items: center;
}

/* CONTACTO */
.contacto {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 650px) {
  .contacto {
    grid-template-columns: 1fr;
  }
  .formulario input,
  textarea {
    min-width: 100%;
  }
  .boton {
    min-width: 100%;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  color: var(--textoSec);
}

.formulario input,
textarea,
.seleccion-pais {
  width: 75%;
  border-radius: 1rem;
  outline: none;
  border: 1px solid var(--textoSec);
  padding: 1rem 1rem;
  background-color: var(--fondoClaro);
  color: var(--textoPri);
  resize: none;
}

.formulario button:hover {
  background-color: var(--textoSec);
}

.formulario-img {
  object-fit: cover;
  object-fit: center center;
  height: 100%;
  border-radius: 1rem;
}

/* FOOTER */
.footer {
  background-color: #000;
}

/* ----------------CUENTA------------------- */
.nav-cuenta {
  text-align: center;
  margin-top: 3rem;
}

.navegacion-cuenta {
  position: static;
}

.hero-cuenta {
  border: 1px solid var(--textoSec);
}

.formulario-cuenta input,
.seleccion-pais {
  width: 100%;
}

.formulario.formulario-centrado {
  text-align: center;
}

.boton-100 {
  width: 100%;
}

.registrate {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 3rem;
}

/* ----------------REGISTRATE------------------- */

.hero-registro {
  height: 75rem;
}

.terminos-cond {
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: var(--fondoOscuro);
}
