// Reescribir variables de BS
$rojo: #f34f51;
$verde: #0098ae;
$oscuro: #212121;
$gris: #b5b5b5;

// Asignar paleta de colores a BS
$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;

// Tipografía

$display-font-weight: 900;
$headings-font-weight: 700;

// Cards
$card-border-color: transparent;

// Nav Link
$nav-link-padding-x: 0;
$nav-link-color: $gris;
$nav-link-hover-color: darken($gris, 10%);

// Importar BS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
