/* GLOBAL */
:root {
  --colorblanco: #fff;
  --coloroscuro: #0b090a;
  --colorclaro: #161a1d;
  --colordetalles: #f9004d;
  --colorparrafos: #06d6a0;
  --colorhtml: #f95738;
  --colorcss: #0d3b66;
  --colorjs: #f4d35e;

}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  ;
  font-size: 1.6rem;
  background-color: var(--coloroscuro);
  line-height: 2;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--colorblanco);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--colorblanco);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.5rem;
}

img {
  width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

p {
  color: #06d6a0;
  font-size: 2.2rem;
}

/* UTILITY */
.change-color {
  color: var(--colordetalles);
}

.change-color2 {
  color: var(--colorparrafos);
}

.btn {
  font-weight: bold;
  padding: .5rem 1rem;
  background-color: var(--colordetalles);
  display: inline-block;
  border-radius: 3rem;
  transition: .3s;
  font-size: 1.8rem;
}

.btn:hover {
  opacity: .9;
}

.bold {
  font-weight: bold;
}

.padd {
  padding: 0 1rem;
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  align-items: center;
  text-align: center;
}

.nav__a {
  font-size: 2.3rem;
  font-weight: bold;
  transition: .3s;
  padding: 0 1rem;
}

.nav__a:hover {
  color: var(--colordetalles);
}

.nav__btn:hover {
  transform: scale(1.1);
}

/* HERO */

.hero {
  background: url(/img/background.jpg) no-repeat center center/cover;
  height: 72rem;
}

.hero__t3 {
  margin-bottom: 2rem;
}

.form {
  max-width: 40%;
}

.form__inputs {
  max-width: 100%;
  position: relative;
}

.form__input {
  display: inline-block;
  width: 100%;
  border-radius: 1rem;
  padding: 1.4rem 13rem 1.4rem 1.5rem;
  background-color: transparent;
  border: .2rem solid var(--colordetalles);
  color: var(--colorblanco);
}



.form__btn {
  position: absolute;
  display: inline-block;
  right: .3rem;
  top: .3rem;
  display: inline-block;
  box-shadow: 0 0 0.5rem var(--coloroscuro), 0 0 1.5rem var(--colordetalles);
}

/* ABOUT */

.about {
  background-color: var(--colorclaro);
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  gap: 2rem;
}

.about__svg {
  height: 100%;
  object-fit: cover;
  object-position: left center;
}

.nucba:hover {
  box-shadow: 0 0 0.5rem var(--coloroscuro), 0 0 1.5rem var(--colordetalles);
  transition: .3s;
}

/* SERVICES */

.services {
  padding: 6rem 1rem;
}

.services__title {
  text-align: center;
}

.services__cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.services__card {
  background-color: var(--colorclaro);
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
}

.services__i {
  color: var(--colordetalles);
  font-size: 5rem;
}

.services__h {
  text-transform: uppercase;
}

/* SKILLS */
.skills {
  background: url(/img/offer.svg) no-repeat center center/cover;
  opacity: .7;
  background-color: var(--colorclaro);
}

.services__card--css {
  background-color: var(--colorcss);
  opacity: .95;
}

.services__card--js {
  background-color: var(--colorjs);
  opacity: .95;
}

.services__card--html {
  background-color: var(--colorhtml);
  opacity: .95;
}

.services__h--skills,
.services__p--skills {
  color: #fff;
  font-weight: bold;
}

/* HIRE ME */
.hire {
  padding: 6rem 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* FOOTER */

.footer {
  background-color: var(--colorclaro);
  padding: 2rem 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.services__i--foot {
  padding: 0 5rem;
  box-shadow: 0 0 0.5rem var(--coloroscuro), 0 0 1.5rem var(--colordetalles);
  transition: .4s;
}

.services__i--foot:hover {
  transform: scale(1.2);
}

@media (max-width: 880px) {
  .nav {
    flex-direction: column;
  }

  .form {
    max-width: 70%;
  }

  .services__cont,
  .about,
  .footer {
    flex-direction: column;
  }

  .services__card {
    width: 90%;
  }
}

@media (max-width: 495px) {
  .nav__a {
    display: block;
  }

  .form {
    max-width: 100%;
  }

  .hire {
    flex-direction: column;
    text-align: center;
  }

  .hire__btn {
    width: 100%;
  }

  .footer__cont {
    width: 100%;
    text-align: center;
  }

  .footer__cont i {
    display: block;
    padding: 2rem 2rem;
  }
}